.d-flex{
    display: flex;
}

.d-col{
    flex-direction: column;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    height: 100vh;
    flex-direction: column;
}
