<!-- remember to import FormsModule and #registerForm is variable jo ki variable jaisa usko ts m pass krne k liye function banaya -->
 <!-- ngForm is directive jo angualr ne banaya hai jisse form json m dikhta hai and ngSubmit is event -->
<form #registerForm="ngForm" (ngSubmit)="submitForm(registerForm)" class="form">
    <!-- username(text),email(text),gender(radiobutton) branch(dropdown),submit(btn)-->
     <div class="d-flex d-col">
        <label for="username">Username</label>
        <input class="form-control" type="text"  id="username" name="username" placeholder="Enter username...">
     </div>
     <div class="d-flex d-col">
        <label for="email">Email</label>
        <input class="form-control" type="text" id="email" placeholder="Enter email...">
    </div>
     
    <div class="d-flex d-col ">
        <div>
            <label for="gender">Select Gender</label>
        </div>
        <div>
            <input type="radio" id="gender">
            <label for="gender">Male</label>
            <input type="radio" id="gender">
            <label for="gender">Female</label>
        </div>
    </div >
    
    <div class="d-flex d-col">
     <label for="email">Email</label>
     <input class="form-control" type="text" id="email" placeholder="Enter email...">
    </div>

    <div class="d-flex d-col">
        <label for="email">Address</label>
        <textarea class="form-control" type="text" rows="5" cols="40" id="email" placeholder="Enter Address..."></textarea>
       </div>
     
    <div class="d-flex d-col">
    <label for="branch">Select Branch</label>
     <select name="" id="branch">
        <option value="">CMPN</option>
        <option value="">IT</option>
        <option value="">EXTC</option>
        <option value="">AIDS</option>
     </select>
    </div>

     <button type="submit" class="btn btn-dark">Submit</button>
</form>
