.d-flex{
    display: flex;
}

.d-col{
    flex-direction: column;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    height: 100vh;
    flex-direction: column;
}

/* .ng-invalid .ng-dirty ye classes hai angular ke */
/* .ng-dirty is form mei kuch toh enter krna fir bahar click krna  */
.ng-invalid .ng-dirty{
    border-color: red;
}

.ng-valid .ng-dirty{
    border-color: blue !important;
}